@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #041838;
    border-radius: 8px;
    border: 2px solid #041838;
  }

  ::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #03304e;
  }
}
